@media only screen and (min-width: 960px) {
  .no-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .no-padding-top {
    padding-top: 30px !important;
  }
}

@media only screen and (min-width: 960px) {
  .no-padding-top {
    padding-top: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .no-padding-bottom-mobile {
    padding-bottom: 0 !important;
  }
}

@media only screen and (min-width: 960px) {
  .no-padding-bottom {
    padding-bottom: 0 !important;
  }
}

*:focus {
  outline: none !important;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora-Regular/Lora-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eurostileregular';
  src: url('../fonts/eurostile/eurostile.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'eurostilemedium';
  src: url('../fonts/eurostile/Eurostile-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'eurostilebold';
  src: url('../fonts/eurostile/Eurostile-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  font-family: 'Roboto';
  font-weight: 200;
  display: block;
  /* color: #1b9284; */
  letter-spacing: 5px;
}

.title {
  /* color: #1b9284; */
}

q:before,
q:after {
  content: '"';
}

small {
  font-family: 'Roboto';
  font-size: 90%;
}

.center {
  text-align: left;
}

a {
  font-family: 'Roboto';
  /* color: #666ad1; */
}

a:hover {
  color: #7e57c2;
  border-bottom: 50px;
  transition: all 0.3s;
}

a {
  outline: 0;
}

.bold {
  font-family: 'Roboto-Bold';
  font-weight: 900;
}

.bordered {
  border-bottom: 3px solid transparent;
}

p {
  font-family: 'Roboto';
  font-size: 1.2rem;
  /* color: #4dd0e1; */
  font-weight: 600;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 1rem;
  }
}

p b {
  font-family: 'Roboto';
}

.ol {
  /* color: #008ba3; */
}

.ol li {
  font-family: 'Lora';
  /* color: #f05545; */
}

footer p {
  /* color: #f05545; */
}

footer p a.footer {
  /* color: #7f0000; */
}

footer div.footer {
  /* color: #f05545; */
}

.image {
  max-width: 500px;
  width: 100%;
}

.image2 {
  text-align: -webkit-center;
  width: 100%;
}

.image2 img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* RESPONSIVE SLIDES JS */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides_tabs {
  display: none;
}

.rslides_nav {
  display: block;
}

.rslides_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
}

.centered-btns_nav:active {
  opacity: 1.0;
}

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  display: block;
  background: #fff;
  /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 20%;
  text-indent: -9999px;
  overflow: hidden;
  height: 100px;
}

.transparent-btns_nav.next {
  left: auto;
  right: 0;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("themes.gif") no-repeat left 50%;
  width: 38px;
}

.large-btns_nav:active {
  opacity: 1.0;
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
}

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

@media only screen and (max-width: 480px) {

  .centered-btns_tabs,
  .transparent-btns_tabs,
  .large-btns_tabs {
    margin-left: 5px;
  }
}

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 9px;
  height: 9px;
}

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

.rslides1_nav.prev {
  z-index: 7;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 22.5%;
  margin-left: 1rem;
  transform: translateY(-50%);
  background-image: url(../img/icons/garnish-30.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  background-color: #b7b7b7;
  width: 60px;
  height: 60px;
  color: transparent;
  -webkit-animation: prevbtn 1.5s linear 1s infinite alternate;
  /* Safari 4.0 - 8.0 */
  animation: prevbtn 1.5s linear 1s infinite alternate;
}

@media only screen and (max-width: 480px) {
  .rslides1_nav.prev {
    left: 0;
    margin-left: 1rem;
    margin-top: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .rslides1_nav.prev {
    margin-left: 0;
    margin-top: 37.5%;
  }
}

.rslides1_nav.prev:hover {
  background-image: url("../img/icons/garnish-32.png");
  background-color: #7e7e7e;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes prevbtn {
  0% {
    margin-left: 1rem;
  }

  25% {
    margin-left: 0.75rem;
  }

  50% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: 0.75rem;
  }

  100% {
    margin-left: 1rem;
  }
}

/* Standard syntax */
@keyframes prevbtn {
  0% {
    margin-left: 1rem;
  }

  25% {
    margin-left: 0.75rem;
  }

  50% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: 0.75rem;
  }

  100% {
    margin-left: 1rem;
  }
}

.rslides1_nav.next {
  z-index: 7;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 22%;
  margin-right: 1rem;
  transform: translateY(-50%);
  background-image: url("../img/icons/garnish-31.png");
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  background-color: #b7b7b7;
  width: 30px;
  height: 30px;
  color: transparent;
  -webkit-animation: nextbtn 1.5s linear 1s infinite alternate;
  /* Safari 4.0 - 8.0 */
  animation: nextbtn 1.5s linear 1s infinite alternate;
}

@media only screen and (max-width: 480px) {
  .rslides1_nav.next {
    margin-left: 96%;
    margin-top: 50%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .rslides1_nav.next {
    margin-left: 96%;
    margin-top: 37.5%;
  }
}

.rslides1_nav.next:hover {
  background-image: url("../img/icons/garnish-33.png");
  background-color: #7e7e7e;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes nextbtn {
  0% {
    margin-right: 1rem;
  }

  25% {
    margin-right: 0.75rem;
  }

  50% {
    margin-right: 0.5rem;
  }

  75% {
    margin-right: 0.75rem;
  }

  100% {
    margin-right: 1rem;
  }
}

/* Standard syntax */
@keyframes nextbtn {
  0% {
    margin-right: 1rem;
  }

  25% {
    margin-right: 0.75rem;
  }

  50% {
    margin-right: 0.5rem;
  }

  75% {
    margin-right: 0.75rem;
  }

  100% {
    margin-right: 1rem;
  }
}

.rslides2_nav.prev {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 21%;
  margin-left: 1rem;
  background-image: url("../img/icons/garnish-30.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: transparent;
}

@media only screen and (max-width: 480px) {
  .rslides2_nav.prev {
    margin-top: 66%;
    left: 0;
    margin-left: 0.75rem;
  }
}

.rslides2_nav.prev:hover {
  background-image: url("../img/icons/garnish-32.png");
}

.rslides2_nav.next {
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 21%;
  margin-right: 0.5rem;
  background-image: url("../img/icons/garnish-31.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  color: transparent;
}

@media only screen and (max-width: 480px) {
  .rslides2_nav.next {
    margin-top: 66%;
    margin-right: 0.25rem;
    right: 0;
  }
}

.rslides2_nav.next:hover {
  background-image: url("../img/icons/garnish-33.png");
}

.rslides_tabs {
  text-align: center;
  display: block;
}

.rslides_tabs li {
  display: inline-block;
  margin-left: 10px;
}

.rslides_tabs li a {
  font-size: 1.25rem;
}

/* VIDEO JS */
.vjs-fluid {
  overflow: hidden;
}

.vjs-control-bar {
  display: block;
}

.vjs-control {
  position: absolute;
}

.vjs-progress-control {
  bottom: 28px;
  left: 0;
  height: 10px;
  width: 100%;
}

.vjs-progress-holder {
  position: absolute;
  left: 0;
  margin: 0;
  height: 8px;
  width: 100%;
}

.vjs-play-progress,
.vjs-load-progress {
  height: 8px;
}

.vjs-play-progress:before {
  font-size: 12px;
  top: -2px;
  text-shadow: 0 0 2px black;
}

.vjs-current-time {
  display: block;
  left: 35px;
}

.vjs-time-divider {
  position: absolute;
  display: block;
  left: 70px;
}

.vjs-remaining-time {
  display: none;
}

.vjs-duration {
  display: block;
  left: 70px;
}

.vjs-volume-menu-button {
  position: absolute;
  bottom: 0;
  right: 55px;
}

.vjs-playback-rate {
  position: absolute;
  bottom: 0;
  right: 28px;
}

.vjs-fullscreen-control {
  position: absolute;
  bottom: 0;
  right: 0;
}

.vjs-big-play-button {
  display: block;
}

@media only screen and (max-width: 480px) {
  .video-js.vjs-fluid {
    max-width: 95% !important;
    margin-left: 2% !important;
  }

  .display2 {
    display: block !important;
  }

  .display1 {
    display: none !important;
  }
}

.video-js {
  position: relative !important;
  width: 100% !important;
  height: auto !important;
}

.vjs-poster {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*# sourceMappingURL=overwrite.css.map */

.img-galeri {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.div-img-galeri {
  column-count: 4;
  column-gap: 10px;
}

/* Style the tab */
.tab-1 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab-1 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab-1 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-1 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent-1 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  padding-top: 1.5rem;
}

/* Style the tab content */
.tabcontent-2 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  padding-top: 1.5rem;
}

.navbar-item img {
  max-height: 5.75rem;
}

.overlay {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
  transition: 0.5s;
  display: block;
}

.box-card {
  position: absolute;
  z-index: 60;
  top: 50%;
  left: 15%;
  max-width: 720px;
  width: 100%;
}

.txt-white {
  color: white;
}

.txt-5em {
  font-size: 5em;
}

.swiper {
  height: 50vh;
}

.big-title-right {
  text-align: right;
  border-right: 10px solid yellow;
  padding-right: 10px;
}

.big-title-left {
  text-align: left;
  border-left: 10px solid yellow;
  padding-left: 10px;
}

.big-title-right2 {
  text-align: right;
  /* border-right: 10px solid yellow; */
  padding-right: 10px;
}

.big-title-left2 {
  text-align: left;
  /* border-left: 10px solid yellow; */
  padding-left: 10px;
}

.big-title-blue {
  color: #0d446e;
}

.big-title {
  font-size: 50px;
  font-family: 'eurostilebold';
}

.eurostilebold {
  font-family: 'eurostilebold';
}

.swiper-slide img {
  object-position: center;
}

/* .swiper-slide::before{
  filter: blur(30px);
}
.swiper-slide::after{
  filter: blur(30px);
} */

.swiper {
  height: 80vh;
}

.news-item-content {
  /* margin-left: 1rem; */
  font-size: 1.2em;
}

.mt-3r {
  margin-top: 3rem;
}

.mb-3r {
  margin-bottom: 3rem;
}

.swiper-slide3 img {
  max-height: 10rem;
}

.centered {
  vertical-align: middle;
}

.footer {
  padding: 0;
  background-color: transparent;
}

.container-footer {
  padding: 3rem 1.5rem 6rem;
}

.bg-blue-light {
  background-color: #bfd3e7;
}